name: WebEncoder CI

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  test-caesar:
    runs-on: ubuntu-latest

  build-RSA:
    runs-on: ubuntu-latest

  test-rsa:
    runs-on: ubuntu-latest

  test-kuznechik:
    runs-on: ubuntu-latest
