name: WebEncoder CI

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  test-caesar:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend/Caesar

    steps:
      - name: Получение кода
        uses: actions/checkout@v4

      - name: Установка JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Компиляция
        run: javac src/Caesar.java

      - name: Тест 1 - Шифрование английского текста
        run: |
          original="Test Caesar cipher."
          operation=1
          shift=3
          echo "$original" > input.txt
          printf "$operation\n$shift\n" | java -cp src Caesar
          expected="Whvw Fdhvdu flskhu."
          result=$(cat output.txt)
          echo "Original message: $expected"
          echo "Operation: $operation"
          echo "Shift:     $shift"
          echo "Expected message: $expected"
          echo "Result:           $result"
          if [ "$expected" != "$result" ]; then
            echo "Test 1 failed!"
            exit 1
          fi
          echo "Test 1 passed!"
