name: WebEncoder CI

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  test-caesar:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend/Caesar

    steps:
      - name: Получение кода
        uses: actions/checkout@v4

      - name: Установка JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Компиляция
        run: javac src/Caesar.java

      - name: Тест 1 - Шифрование английского текста
        run: |
          original="Test Caesar cipher."
          operation=1
          shift=3
          echo "$original" > input.txt
          printf "$operation\n$shift\n" | java -cp src Caesar
          expected="Whvw Fdhvdu flskhu."
          result=$(cat output.txt)
          echo "Original message: $original"
          echo "Operation: $operation"
          echo "Shift:     $shift"
          echo "Expected message: $expected"
          echo "Result:           $result"
          if [ "$expected" != "$result" ]; then
            echo "Test 1 failed!"
            exit 1
          fi
          echo "Test 1 passed!"

      - name: Тест 2 - Дешифрование английского текста
        run: |
          original="Test Caesar cipher."
          encrypted="Whvw Fdhvdu flskhu."
          operation=2
          shift=3
          echo "$encrypted" > input.txt
          printf "$operation\n$shift\n" | java -cp src Caesar
          expected="$original"
          result=$(cat output.txt)
          echo "Original message:  $original"
          echo "Encrypted message: $encrypted"
          echo "Operation: $operation"
          echo "Shift:     $shift"
          echo "Expected message:  $expected"
          echo "Result:            $result"
          if [ "$expected" != "$result" ]; then
            echo "Test 2 failed!"
            exit 1
          fi
          echo "Test 2 passed!"

      - name: Тест 3 - Шифрование русского текста
        run: |
          original="Тест шифра Цезаря."
          operation=1
          shift=5

          echo "$original" > input.txt
          printf "$operation\n$shift\n" | java -cp src Caesar

          expected="Чйцч энщхе Ыймехд."
          result=$(cat output.txt)

          echo "Original message: $original"
          echo "Operation: $operation"
          echo "Shift:     $shift"
          echo "Expected message: $expected"
          echo "Result:           $result"

          if [ "$expected" != "$result" ]; then
            echo "Test 3 failed!"
            exit 1
          fi
          echo "Test 3 passed!"

      - name: Тест 4 - Дешифрование русского текста
        run: |
          original="Тест шифра Цезаря."
          encrypted="Чйцч энщхе Ыймехд."
          operation=2
          shift=5

          echo "$encrypted" > input.txt
          printf "$operation\n$shift\n" | java -cp src Caesar

          expected="$original"
          result=$(cat output.txt)

          echo "Original message:  $original"
          echo "Encrypted message: $encrypted"
          echo "Operation: $operation"
          echo "Shift:     $shift"
          echo "Expected message:  $expected"
          echo "Result:            $result"

          if [ "$expected" != "$result" ]; then
            echo "Test 4 failed!"
            exit 1
          fi
          echo "Test 4 passed!"

  build-RSA:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend/RSA

    steps:
      - name: Получение кода
        uses: actions/checkout@v4

      - name: Установка JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Компиляция
        run: |
          javac src/KeyGenerator.java
          javac src/RSA32768.java

  build-kuznechik:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend/kuznechik

    steps:
      - name: Получение кода
        uses: actions/checkout@v4

      - name: Установка JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Компиляция
        run: |
          javac src/Kuznechik.java
