name: WebEncoder CI

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  build-caesar:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend/Caesar

    steps:
      - name: Получение кода из репозитория
        uses: actions/checkout@v4

      - name: Установка JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Компиляция
        run: javac src/Caesar.java

      - name: Запуск
        run: |
          printf "1\n3\n" | java -cp src Caesar # Автоматически подаём данные в программу: шифрование - 1, сдвиг - 3

      - name: Чтение output.txt
        run: |
          echo "===== output.txt ====="
          cat output.txt
